.menu {
    width: 100%;
    height: 5rem;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    z-index: 99;
}

.menu ul {
    width: 40%;
    height: 2.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    /* Define posição relativa */
}

.menu a {
    text-decoration: none;
    font-weight: 100;
    font-size: 14pt;
    color: white;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

/* Adiciona o efeito de underline */
.menu .animation {
    position: absolute;
    bottom: 0;
    height: 3px;
    border-radius: 2px;
    background-color: #5c10f4;
    transition: left 0.3s ease, width 0.3s ease;
    /* Adiciona transição */
}

.menu li:hover {
    cursor: pointer;
}

/* Ajusta a posição do underline quando o mouse passa sobre */
.menu li:nth-child(1):hover .animation {
    left: 0;
    width: 25%;
    /* Largura do underline */
}

.menu li:nth-child(2):hover .animation {
    left: 25%;
    /* Largura do underline */
    width: 25%;
    /* Largura do underline */
}

.menu li:nth-child(3):hover .animation {
    left: 50%;
    /* Largura do underline */
    width: 25%;
    /* Largura do underline */
}

.menu li:nth-child(4):hover .animation {
    left: 75%;
    /* Largura do underline */
    width: 25%;
    /* Largura do underline */
}

.actions_lang_container {
    width: 8rem;
    position: relative;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
   
    
}
.lang_label:hover {
    cursor: pointer;
}

.hidden {
    display: none;
}

.btn_langs_container {
    background-color: transparent;
    position: absolute;
    width: 4rem;
    height: 5rem;
    display: flex;
    flex-direction: column;
    bottom: -.5rem;
    transition: all .5s;
}
.btn_lang {
    font-weight: 100;
    margin-bottom: .8rem;
}
.btn_lang:hover {
    font-weight: 200;
    color: #5c10f4;
    cursor: pointer;
}