* {
  border: 0;
  margin: 0;
  padding: 0;
  color: rgb(243, 248, 255);
  background-color: #0d051c;
}
html {
  scroll-snap-type: y mandatory;
  scroll-snap-stop: normal;
  scroll-behavior: smooth;
}

section {
  height: 100vh;
  scroll-snap-align: start;
}